**
!Dockerfile
!.dockerignore
!global.json
!src/
!src/**
**/bin/
**/obj/
**/.vs/
.git
.gitignore
Dockerfile
.dockerignore
**/.env
**/.env.*
**/*credentials*.json
**/*service-account*.json
**/*service_account*.json
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/.config/gcloud
**/secrets
**/secrets.*
**/.npmrc
**/.netrc
**/.ssh
**/.aws
**/.azure
**/*.user
